
.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/auth/
.playwright-mcp/
.playwright-cli/
.claude/
.claude/settings.local.json

TEST_USERS=nstest1,nstest2,nstest3,nstest4,nstest5,nstest6,nstest7,nstest8,nstest9

NSTEST1_EMAIL=nstest1@eg.dk
NSTEST1_PASSWORD=nstesthTJTWVMb76W7!o5#!

NSTEST2_EMAIL=nstest2@eg.dk
NSTEST2_PASSWORD=nstest^hTJTWVMb76W7!o1g!

NSTEST3_EMAIL=nstest3@eg.dk
NSTEST3_PASSWORD=d?h{CXM!U<RCom/N!

NSTEST4_EMAIL=nstest4@eg.dk
NSTEST4_PASSWORD=snx?=b#/^(9J}vVd8v{(h>SYW

NSTEST5_EMAIL=nstest5@eg.dk
NSTEST5_PASSWORD=8e%=m*2$4kraod<6!

NSTEST6_EMAIL=nstest6@eg.dk
NSTEST6_PASSWORD=']I%~^2!UK/M2o<2Y_7oa0m-A

NSTEST7_EMAIL=nstest7@eg.dk
NSTEST7_PASSWORD=Y3p9f/T`<8s2/|iV|2zWi(&+4

NSTEST8_EMAIL=nstest8@eg.dk
NSTEST8_PASSWORD=@jaW\a8\4nje^_bzS{]3IC@'S

NSTEST9_EMAIL=nstest9@eg.dk
NSTEST9_PASSWORD=3Fh&n87b?f5AV<3UMew{ga=b$
